#dashboard-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212;
    color: #f8f8f8;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
    flex-direction: row;

    main {
        min-width: 300px;
        width: 30%;

        .container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: row;

            #title {
                font-weight: 200;
                font-style: italic;
                font-size: x-large;
                text-align: center;
                border-bottom: 1px solid #f8f8f8;
            }

            #button-div {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn {
                    width: 90px;
                    height: 40px;
                    cursor: pointer;
                    outline: none;
                    border-radius: 2px;
                    border: 1.5px solid #f8f8f8;
                    background-color: #121212;
                    color: #f8f8f8;
                    font-size: large;
                    font-weight: 200;
                    margin-left: 15px;
                }
            }
        }

        #secrect-text {
            margin-top: 20px;
            font-weight: 200;
            font-style: italic;
            font-size: medium;
        }
    }
}